*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

.icon{
    display: none;
}


nav{
    position: fixed;
    height: 10vh;
    width: 100%;
    background-color: #FAE8FF;
    display: flex;
    justify-content: space-between;
}


div.logo{
    padding: 8px 50px 0 150px;
    /* display: flex;
    align-items: center; */
    line-height: 100px;
}

.nav-container{
    display: flex;
}


li {
    display: inline-block;
    margin: 0 8px;
    line-height: 100px;
}

li a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
}

.signup-btn {
    margin-top: 25px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    background: #000000;
}

.logo--pop ,
.signup-btn--pop ,
.hr-line{
    display: none;
}

.signup-btn--pop{
    padding: 15px 20px;
    text-align: center;
    border-radius: 4px;
    background: #000000;
    position: absolute;
    bottom: 5%;
    left: 30%;
}


.signup-btn a ,
.signup-btn--pop a{
   
    color: rgb(255, 255, 255);
}


.container{
    background:#FAE8FF ;
    height: 100vh;
}

@media (max-width:1200px){
    div.logo{
        padding: 8px 50px 0 50px;
    }

    .signup-btn {
        margin-right: 50px;}

}

@media (max-width:991px) {

    div.logo{
        padding: 8px 0 0 30px;
        display: flex;
        align-items: center;
    }
    
    nav ul{
        position: fixed;
        width: 80%;
        height: 100vh;
        background: #ffffff ;
        left: -100%;
        transition: all .5s;
    }

    .signup-btn {
        display: none;
    }

    .logo--pop {
        padding: 20px 0 10px 30px;
        
    }

    .icon ,
    .logo--pop ,
    .signup-btn--pop,
    .hr-line{
        display: block;
        cursor: pointer;
    }

    hr{
        color: rgba(0, 0, 0, 0.1);
    }

    nav li{
        display: block;
        margin: 40px 0px;
        line-height: 20px;
        padding-left: 30px;
    }

    nav ul.show{
        left: 0;
    }

    nav a.show{
        left: 0;
    }
  
}